<div *ngIf="product$ | async as product" class="row col-6 card shadow mx-auto mt-5">
  <div class="card-body text-center">
    <h5 class="card-title">{{product.brand}} - {{product.title}}</h5>
    <div class="my-2">{{product.category}} - {{product.price}} €</div>
    <img [src]="product.thumbnail" class="card-img-top">
    <p class="text-start mt-2">Rating : {{product.rating}} / Stock: {{product.stock}}</p>
    <p class="text-start">{{product.description}}</p>
    <button routerLink="/" class="btn btn-dark mt-2">BACK</button>
  </div>
</div>
