

  <div class="text-center" *ngIf="pages.length > 1">
    <a *ngFor="let page of pages; index as i"
       [routerLink]="['/', 'products', 'page', i+1]"
       class="btn btn-outline-primary mx-1 my-3"
    >
      {{i+1}}
    </a>
  </div>

  <div class="row my-3">
    <div class="col-lg-4 col-sm-0"></div>
    <div class="col-lg-4 col-sm-12">
      <div class="text-center input-group">
        <input type="text"
               class="search-area form-control"
               (keyup) ="onChangeSearch()"
        >
      </div>
    </div>
  </div>

  <table class="table mt-3  table-striped">
    <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Brand</th>
      <th>Price</th>
      <th>Category</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody class="table-secondary">
    <tr *ngFor="let product of productsList">
      <td>{{product.id}}</td>
      <td>{{product.title}}</td>
      <td>{{product.brand}}</td>
      <td>{{product.price}} €</td>
      <td>{{product.category}}</td>
      <td>
        <a [routerLink]="['/', 'products', product.id]" class="btn btn-outline-primary text-uppercase">
          Details
        </a>
        <ng-container *ngIf="token$|async">
          <button class="btn btn-outline-success text-uppercase">Update</button>
          <button class="btn btn-outline-danger text-uppercase">Delete</button>
        </ng-container>
      </td>
    </tr>
    </tbody>
  </table>

